@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">API Activity3</h1>
    <p>Learn about <a href="https://api.magicthegathering.io/v1/cards/<ID&gt;">NeilMacabulos view your card here</a>.</p>
</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://wiki.mtgpq.info/w/images/2/2d/Sarkhan2.png" alt="Sarkhan, Fireblood">
    <div class="card-body">
        <p class="card-text">Sarkhan, Fireblood</p>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Name = Sarkhan, Fireblood</li>
        <li class="list-group-item">Mana Cost = {1}{R}{R}</li>
        <li class="list-group-item">CMC = :3.0</li>
        <li class="list-group-item">Colors = ["R"]</li>
        <li class="list-group-item">Type = "Legendary Planeswalker — Sarkhan"</li>
        <li class="list-group-item">Rarity = "Mythic"</li>
        <li class="list-group-item">Set Name = "Core Set 2019"</li>
        <li class="list-group-item">Text = "[+1]: You may discard a card. If you do, draw a card.\n[+1]: Add two mana in any combination of colors. Spend this mana only to cast Dragon spells.\n[−7]: Create four 5/5 red Dragon creature tokens with flying.","artist":"Grzegorz Rutkowski"</li>
        <li class="list-group-item">Loyalty = "3"</li>
    </ul>
</div>